h1, h2, h3, h4, p, a {
  color: hotpink;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  font-size: 44px;
}

h2, h3, h4 {
  font-size: 33px;
}

p {
  font-size: 22px;
}

body {
  background-image: url("myPhotos/starspattern.png");
  border-style: double;
  border-color: white;
  border-width: 15px;3
}

a {
  color: #b70080;
}
